/*------------------BODY - NAVBAR ---------------------*/


body,html {
  margin-left: 25px;
  margin-right: 25px;  
  background-size: contain;
}


header,
.navbar {
  background-color: rgba(233, 230, 230, 0.663);
  margin-left: 25px;
  margin-right: 25px; 
  border-radius: 30px;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 85%;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  max-width: 25%;
  max-height: 18%;
  margin-left: 20px;
}

.bn-logo {
  margin-right: auto;
  margin-left: 50px;
}

.logo-container {
  max-width: 200px;
}
/*-------BOTÕES NAVBAR----------*/
.dropdown-menu {
  background-color: #232020;
}

.dropdown-menu a {

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-item {
  width: 200px;
  background-color: #232020;
  color: #e3d7d7;
}

#area-login {
  background-color: #d73434;
  color: #dfe0ef;
}


/*-----------BANNER ---------*/


#container-foto-inicio {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px; 
}




/*-------PRIMEIRO CONTAINER - INTRO----------*/

.container{
  border-radius: 20px;
  background-color: rgba(190, 205, 219, 0);
  width: 10%;
}

.first-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  border: 1px;
  border-radius: 10px;
 
}

.first-container h3 {
  height: fit-content;
  width: 100%;
  margin-bottom: 30px;  
  padding: 30px;
  color: wheat;
  font-weight: bold;
}

.first-container p {
  height: fit-content;
  text-align: justify;
  color: wheat;
  font-size: large;
 
}

#container-video {
  margin-top: 20px;
}

.video-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #525864;
  margin-top: 50px;
}

video{
  border-radius: 15px;


}



.video-overlay {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  color: #222;
}


.text-overlay h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 1.2em;
}




/*-------SEGUNDO CONTAINER-CARDS----------------*/


.second-container {
  background-color: rgba(243, 243, 243, 0.593);
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 50px;
}

.card img{
  border-radius: 50px;
}

.card {
  margin: 0 15px;
  height: 300px;
  
  
}

.card-body {

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.card:hover {
  transform: scale(1.05);
  border: 2px solid #72c939;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 50px;
 
}


/*------TERCEIRO CONTAINER-CAROUSEL----------------*/

.carousel-item img {
  height: 500px;
  object-fit: cover;
  border-radius: 50px;
}


#mainSlider {
  max-height: 600px;
  margin: auto;
}

.h2-banner {

  color: #060705;
  align-self: center;
}

.h2-banner2 {

  color: #f3f4f3;
}



/*-------- QUARTO CONTAINER - SERVIÇOS----------------*/



#fourth-container .col-md-4 {
  display: flex;
  align-items: center;
  background-color: rgba(59, 56, 56, 0);
  padding: 15px;
  margin-top: 15px;
  border-radius: 35px;
}

#fourth-container img {
  margin-right: 10px;
  max-width: 35%;
  height: auto;
  display: flex;
}

#fourth-container h3,
#fourth-container h4 {
  margin: 0;
}


.caixa1{
  display: flex;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.815);
  padding: 10px;
  border-radius: 45px;

}

.caixa1:hover{
  transform: scale(1.1); 
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 40px;
}

h6{
  text-align: justify;
}



/*------------- QUINTO CONTAINER - MISSÃO E VISÃO----------------*/
.fifth-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 350px;
  margin-top: 10px;
}

.text-fifth-container {
  background-color: rgba(255, 255, 255, 0);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 500px;
  color: #282829;
}



/*------------- SEXTO CONTAINER - PROJETOS EM DESTAQUE----------------*/

.sixth-container {
  background-color: #f8f9fa95;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.text-sixth-container {
  text-align: center;
  margin-bottom: 30px;
}

.img-sixth-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  

 
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  text-align: justify;
}

/*------------- SÉTIMO CONTAINER - PARCEIROS----------------*/

.seventh-container {
  background-color: #f8f9fa;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.text-seventh-container {
  text-align: center;
  margin-bottom: 25px;
}

.img-seventh-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-seventh-container img {
  max-width: 200px;
  height: auto;
  margin: 10px;
}

.img-seventh-container img:hover {
  transform: scale(1.1); 
  cursor: pointer;
  transition: all 0.2s ease;
 
}

/*------------- OITAVO CONTAINER - EVENTOS ----------------*/


.eighth-container {
  background-color: #f8f9fa95;
  padding: 50px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.text-eighth-container {
  text-align: center;
}

.events-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.event-card {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.event-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/*------------- NONO CONTAINER - DEPOIMENTOS ----------------*/

.ninth-container {
  background-color: #f8f9fa95;
  padding: 50px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.text-ninth-container {
  text-align: center;
}

.testimonials-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial-card img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial-author {
  font-style: italic;
  color: #888;
}


/*--------ACCORDEON-------*/


.accordion {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion-body {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  
}




/*------------------------FOOTER-----------------------*/

footer{
  border-radius: 30px;
}
#area-contatos {
  text-align: center;
}

.caixa-contatos {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(213, 100, 62);
}

.caixa-contatos i {
  color: #d73434;
  border: solid 1px #ce3232;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.caixa-contatos p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #d57a3e;
}

#caixa-msg p {
  font-size: 22px;
  margin-left: 50px;

}
#caixa-msg  {
 
  margin-left: auto;
  margin-right: auto;

}

#defaultCheck1 {
  margin-left: 20px;
  margin-top: 15px;
}

#defaultCheck2 {
  margin-left: 50px;
  margin-top: 9px;
}

#final {
  background-color: #F1F1F1;
}

#final .container {
  padding: 10px 0;
  text-align: center;
}

#final .container p {
  margin-bottom: 0;
}

footer {
  color: black;
  font-weight: bold;
  background-color: rgba(187, 187, 198, 0.737);
}

/*----------------------FORM------------------------------*/
.form-group label {
  color: #dfe0ef;
  color: rgb(236, 207, 207);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-top: 10px;
}

.form-control {
  background-color: #ebddd4;
  border: #e5d6cc;
  border-radius: 15px;
}

#forms-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#forms-contato form {
  border-radius: 55px;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
}

#formulario-contato {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#forms-contato input[type="checkbox"] {
  border-radius: 15px;
  padding: 10px;
}

#forms-contato input[type="text"],
#forms-contato textarea {
  border-radius: 15px;
  padding: 10px;
}

#forms-contato .main-btn {
  width: 120px;
  height: 40px;
}

.nome-form {
  padding: 10px;
}

.email-form {
  padding: 10px;
}

.assunto-form {
  padding: 10px;
}

/*---------------------------BUTTONS---------------------*/

.btn-primary {
  background-color: #d73434;
  margin-left: 25%;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

.btn-primary:hover {
  size: 110%;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #d73434;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;

}

#button-send {
  margin-left: 120px;
  margin-top: 10px;
  background-color: #ce3232;
  border: none;
  border-radius: 15px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  transition: transform 0.2s, box-shadow 0.2s;
}

#dropdownMenuButton {
  color: #0f0f0f;
  background-color: transparent;
  border: none;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.dropdown #dropdownMenuButton2 {
  color: #060705;
  background-color: #60b0cf;
  border: none;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.0rem;
  letter-spacing: 2px;
  margin-right: 20px;
}

#button-send:hover {
  size: 110%;
  transform: scale(1.2);
}



