/*-----------HEADER----------*/


body, html {
    margin: 0;
    padding: 0;
}


#container {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
   
}

#container2{
  margin-top: 30px;
}

.text-container h3 {
    
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    margin-left: 150px; 
    color: white;
}

.text-container p {
    padding: 20px;
    font-size: 2em;
    color: white;

}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #525864;
    margin-top: 50px;
}

.first-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.first-container h3 {
 
  height: fit-content;
  width: 100%; 
  margin-bottom: 30px; 
  padding: 30px; 
}

.first-container p {
  
  height: fit-content;
  text-align: justify;
}



.carousel-item img {
    height: 500px; 
    object-fit: cover; 
  }

  
  #mainSlider {
    max-height: 600px; 
    margin: auto; 
   
  }

/*----------------CARD-----------------*/
.second-container {
    background-color: rgba(243, 243, 243, 0.99);
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .card {
    margin: 0 15px;
    height: 300px; 
  }
  
  .card-body {
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }


  


.text-third-container {
   
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.img-third-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
  }

  .box1{

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    background-color: #525864;
  }


#terceiro{
    background-color: transparent;
    padding: 15px;
    margin-top: 15px    ;
}

.fourth-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    
}

.text-fourth-container {
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 500px;
}

.img-fourth-container{
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 500px;

}


.fifth-container {
    background-color:transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    
}

.text-fifth-container {
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 500px;
}

.img-fifth-container{
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 500px;

}


.accordion {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
  }
  
  .accordion-body {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  }